@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

@layer components {
  .bg-main {
    background: hsl(218, 28%, 13%);
  }
  .open-sans {
    font-family: 'Open Sans', sans-serif;
  }
  .raleway {
    font-family: 'Raleway', sans-serif;
  }
  .blue-btn {
    background: hsl(198, 60%, 50%);
  }
}

body {
  background-color: hsl(218, 28%, 13%);
}